<p>menu works!</p>
<button class="btn btn-primary mx-2" [routerLink]="['/home']">Home</button>
<button class="btn btn-primary mx-2" [routerLink]="['/book']">localStorage Books</button>
<button class="btn btn-primary mx-2" [routerLink]="['/new']">Add new [Service Books]</button>
<button class="btn btn-primary mx-2" [routerLink]="['/list']">View all [Service Books]</button>
<button class="btn btn-primary mx-2" [routerLink]="['/calc']">Calculator</button>
<button class="btn btn-primary mx-2" [routerLink]="['/products']">Products</button>
<button class="btn btn-primary mx-2" [routerLink]="['/books']">ngrx Books</button>